<div>

	<legend>{$Titulo}</legend>

	<div class="parteForm" id="formReporte3">

	    <div>
	    
	        <div class="input-control text size3" data-role="input-control">
	        	{if $IdRol != 2} 
		         <input type="text" id="txtDNIRp3" placeholder="DNI" value="{$DNI}">
		        {else}
		         <input type="text" id="txtDNIRp3" placeholder="DNI" value="{$DNI}" readonly>
		        {/if} 
		        <button class="btn-clear" tabindex="-1"></button>
	        </div>
	    
	        <p>Fecha Inicio</p>
			<div class="input-control text size2" id="calendarInicioRp3">
				<input type="text" id="dateInicioRp3">
				<button class="btn-date" type="button"></button>
			</div>
			<br>
			<p>Fecha Final</p>
			<div class="input-control text size2" id="calendarFinRp3">
				<input type="text" id="dateFinRp3">
				<button class="btn-date" type="button"></button>
			</div>
	    </div>

	     <button class="button" id="btnReportPdf3" type="button">Generar PDF!</button>
	     <button class="button" id="btnReportExcel3" type="button">Generar Excel!</button>
	     	 
    </div>

    <!-- Parte Lista Roles-->
    <div class="parteList listview" id="Lista-reporte">
   
    </div>
    