<div>

	<legend>{$Titulo}</legend>

	<div class="parteForm" id="formModulos">

	    <div class="input-control text" data-role="input-control">
	        <input type="text" id="txtNombre_Modulo" placeholder="Nombre Modulo">
	        <button class="btn-clear" tabindex="-1"></button>
	    </div>

	    <!-- <button class="button" id="btnUpdModulo" type="button" >Actualizar!</button>-->
	    <!-- <button class="button" id="btnDelModulo"  type="button">Inactivar!</button>--> 	 
    </div>

    <!-- Parte Lista Roles-->
    <div class="parteList listview" id="Lista-modulos">
   
    </div>
    