<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">
    <meta name="keywords" content="js, css, metro, framework, windows 8, metro ui">

    <link href="css/metro-bootstrap.css" rel="stylesheet">
    <link href="css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="js/prettify/prettify.css" rel="stylesheet">

    <!-- Load JavaScript Libraries -->
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/jquery/jquery.widget.min.js"></script>
    <script src="js/jquery/jquery.mousewheel.js"></script>
    <script src="js/prettify/prettify.js"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="js/load-metro.js"></script>

    <!-- Local JavaScript -->
    <script src="js/docs.js"></script>
    <script src="js/github.info.js"></script>

    <title>Scripts sas : Base Metro Ui</title>

</head>

<body class="metro" style="background-color: #efeae3">

    <header class="bg-dark" data-load="header.html"></header>

   
    <!-- Contenido
    =================================================== -->
	<div id = "about">
	  <!-- Contenido de la Pagina-->
	 <div class="marketing">
	   
	    <br>

			<div class="classAbout">

				<div style="text-align: center;">
					<p>
						<b>Scripts s.a.s</b>
					</p>
					<p>{$Text1}</p>
					<p>{$Text2}</p>
					<p>{$Text3}</p>
					<p>{$Text4}</p>
					<p>
						<b>Copyrigth 2014 Scripts s.a.s</b>
					</p>
				</div>



			</div>


		</div>
	  
	</div>
	
	
	<!-- Modal About-->
	
	<div id= "honAbout" style="display: none;">
	  <img src="View/assets/img/wilson.png">
	  <h3 style="text-align: center;">HoN</h3>
	</div>
	

  </body>
</html>

	