<div class="wrapper">
		<div class="login-form">
			<h2 style="color: white;">Login</h2>
			<input id="username" name="username" type="text"   class="username" placeholder="Nombre de Usuario" > </input>
    		<input id="password" name="password" type="password"  class="password" placeholder="Password"/>
			<input id="btnLogin" type="submit" name="login" value="&rarr; Login" />
			<div class="place-right">
                    <img src="View/images/logo_@6x.png"/>
            </div>
		</div>
</div>